@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

// overide bootstrap here;
$primary: #482D83;
$font-family-sans-serif: 'Poppins', sans-serif;
$enable-rounded: false;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";